* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 10px;
  margin-bottom: 10px;
  background-color: rgb(2, 51, 73);
  font-family: sans-serif;

  color: white;
  align-items: center;
}
h3 {
  font-size: 2.5rem;
  margin-left: 20px;
  text-shadow: 2px 2px 5px red;
}
.cartIcon {
  position: relative;
  font-size: 1.75rem;
  margin-right: 20px;
}
.quantity {
  position: absolute;
  top: -20px;
  right: -7px;
  font-size: 0.9rem;
  background-color: red;
  padding: 7px;
  border-radius: 50%;
}
.shop {
  display: grid;
  grid-template-columns: repeat(4, 230px);
  gap: 30px;
  justify-content: center;
}
@media (max-width: 1000px) {
  .shop {
    grid-template-columns: repeat(2, 223px);
  }
}

@media (max-width: 500px) {
  .shop {
    grid-template-columns: repeat(1, 223px);
  }
}

.shopCard {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  align-self: center;
  justify-content: space-between;
  overflow: hidden;
}
img {
  cursor: pointer;
  transition: transform 0.2s;
}
img:hover {
  transform: scale(1.25);
}

.item {
  font-weight: 800;
  text-align: center;
  padding: 5px;
}
.desc {
  font-family: sans-serif;
  padding-bottom: 10px;
}
.amount {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
.button {
  display: flex;
  gap: 17px;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: white;
}
.decrement {
  color: red;
  margin-left: 10px;
}
.increament {
  color: green;
  margin-right: 10px;
}
.number {
  background-color: #212529;
  color: white;
  padding: 3px 7px;
}
/* Style for cart */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-details {
  display: flex;
  overflow: hidden;
  justify-content: left;
  border: 1px solid black;
  width: 320px;
  margin-bottom: 10px;
}

.product-details {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding-left: 8px;
}
h4 {
  margin-top: 10px;
}
.fa {
  padding-left: 17px;
  color: red;
  cursor: pointer;
}

.checkout {
  background-color: green;
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  color: white;
}
.removeAll {
  background-color: red;
  cursor: pointer;
  margin-top: 30px;
  padding: 10px;
  color: white;
}
.text-center {
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
}
.homeButton {
  background-color: #212529;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}
